<!DOCTYPE html>
<html>
    <head>
<title>Society</title>
    </head>
    <body style="background-color: rgb(9, 25, 114); color: white;">
        <table class="table table-bordered tbl-ui" id="table1">
            <thead>
                <tr class="heading_main">
                    <th><b>SNo.</b></th>
                    <th><b>Society</b></th>
                    <th style="Width: 45%"><b>Objective</b></th>
                    <th><b>President</b></th>
                    <th><b>Vice President</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/CARE.jpg" style="width: 100px; height: 100px;"><br>
                    Chemist’s Association for Research and Education Society (CARE)</td>
                    <td>To promote the chemical research and education for the benefit of the society. This society encourages students to join the science stream as a career option and provides single platform to students and researchers for their scientific and methodical growth.<br>
                    <br>
                    <b>Email: </b><a href="mailto:score@thapar.edu">score@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/milly.png" style="width: 82px; height: 100px;"><br>
                    Dr. Mily Bhattacharya,<br>
                    Assistant Professor,<br>
                    SCBC,<br>
                    <a href="mailto:mily.bhattacharya@thapar.edu">mily.bhattacharya@thapar.edu</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/cogito.png" style="width: 70px; height: 70px;"><br>
                    <b>Cogito, the philosophers society</b></td>
                    <td>Cogito is the Philosophy Society run by students of the School of Liberal Arts and Science, TIET. Our mission is to promote the disseminatioof Philosophy by organizing public debates, talks, and social events. The study of Philosophy is of outmost importance for the developmeneffective thinking and logical capacities, the enhancement of cross-domain conceptual understanding and problem-solving, and the cultivation ointellectual freedom and curiosity. We welcome anyone, from any discipline, and we provide a safe and stimulating space for discussion.<br>
                    <br>
                    <b>Email: </b><a href="mailto:cogito@thapar.edu">cogito@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/cogito" target="_blank">Cogito Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/andrea.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Andrea Raimondi,<br>
                    Assistant Professor,<br>
                    TSLAS,<br>
                    <a href="mailto:andrea.raimondi@thapar.edu">andrea.raimondi@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/ipshita.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Ipshita Chowdhury,<br>
                    Assistant Professor,<br>
                    TSLAS,<br>
                    <a href="mailto:ipshita.chowdhury@thapar.edu">ipshita.chowdhury@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/CCS.png" style="width: 100px; height: 70px;"><br>
                    <b>Creative Computing Society (CCS)</b></td>
                    <td>Creative Computing Society strives to encourage students to develop an analytical temperament in the field of technology and innovation. The society conducts workshops and coding competitions on a regular basis, thus acting as a platform for students to showcase and nurture their technical skill to discover their best lying potential. Over the years the society has had numerous pivotal collaborations with organizations like Google Developers Group, Women Techmaker, Mozilla Webmaker, PyData to name a few.<br>
                    <br>
                    <b>Email: </b><a href="mailto:ccs@thapar.edu">ccs@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/ccs" target="_blank">CCS Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1505971745327.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Anju Bala,<br>
                    Assistant Professor,<br>
                    CSED,<br>
                    <a href="mailto:anjubala@thapar.edu">anjubala@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1505987397356.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Gurpal Singh,<br>
                    Assistant Professor,<br>
                    CSED,<br>
                    <a href="mailto:gurpal.singh@thapar.edu">gurpal.singh@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/elpis.png" style="width: 78px; height: 78px;"><br>
                    <b>Elpis, the psychology society</b></td>
                    <td>Elpis is a Psychology Society of Thapar Institute. Elpis is for everyone interested in delving in the field of psychology. Whether you have a background in psychology or are simply fascinated by the world of psychology, everyone is welcome to join our community. We strive to enhance and support stimulating academic experiences, promote multidimensional approach of psychology by thinking out of the box, providing social opportunities and foster insight into the psychological field. We seek to attain our agenda by arranging seminars, movie nights, fun psychological activities, lunches, campaigns and psycho fest. The society invites each one of you to be a part of this journey.<br>
                    <br>
                    <b>Email: </b><a href="mailto:elpis@thapar.edu">elpis@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/elpis/home" target="_blank">Elpis Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/ipshita.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Ipshita Chowdhury,<br>
                    Assistant Professor,<br>
                    TSLAS,<br>
                    <a href="mailto:ipshita.chowdhury@thapar.edu">ipshita.chowdhury@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/kaustuv.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Kaustuv Roy,<br>
                    Professor,<br>
                    TSLAS,<br>
                    <a href="mailto:kaustuv.roy@thapar.edu">kaustuv.roy@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/ENACTUS.jpeg" style="width: 80px; height: 80px;"><br>
                    <b>ENACTUS</b></td>
                    <td>
                    <p>ENACTUS is a community of students, academic and business leaders committed to using entrepreneurial action to transform lives and shape a better world.<br>
                    <br>
                    <b>Email: </b><a href="mailto:enactus@thapar.edu">enactus@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/enactusthapar/">ENACTUS Website</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/FeOwezHe_img22(2).jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Gagandeep Kaur,<br>
                    Associate Professor,<br>
                    EIED,<br>
                    <a href="mailto:gagandeep@thapar.edu">gagandeep@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/richa.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Richa Babbar,<br>
                    Assistant Professor,<br>
                    CED,<br>
                    <a href="mailto:richa.babbar@thapar.edu">richa.babbar@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/EDC.png" style="width: 60px; height: 60px;"><br>
                    Entrepreneurship Development Cell (EDC)</td>
                    <td>
                    <p>EDC aims at developing the spirit of entrepreneurship among the students of Thapar Institute of Engineering and Technology. It not only ignites the minds but also nurtures the ideas of students . EDC is committed to build a strong platform for budding entrepreneurs as a career, as a path to success, as a journey of wisdom.<br>
                    <br>
                    <b>Email: </b><a href="mailto:edc@thapar.ecu">edc@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/edctiet" target="_blank">EDC Website</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dr._M.D._Singh(1).jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. M.D. Singh,<br>
                    Assistant Professor,<br>
                    EIED,<br>
                    <a href="mailto:mdsingh@thapar.edu">mdsingh@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dr._Karun_Verma(1).jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Karun Verma,<br>
                    Assistant Professor,<br>
                    CSED,<br>
                    <a href="mailto:karun.verma@thapar.edu">karun.verma@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/FAPS.jpg" style="width: 70px; height: 70px;"><br>
                    Fine Arts and Photography Society (FAPS)</td>
                    <td>FAPS is grooming the engineering and management graduates of TIET to converse through the medium of art. FAPS is a vibrant society having a tradition of mentoring the youngsters through workshops on Sketching, Painting, Photography, Calligraphy and Photoshop.<br>
                    <br>
                    <b>Email: </b><a href="mailto:faps@thapar.edu">faps@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/faps/" target="_blank">FAPS Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dr._Ravi_Kiran(1).png" style="width: 82px; height: 100px;"><br>
                    Dr. Ravi Kiran,<br>
                    Professor,<br>
                    SHSS,<br>
                    <a href="mailto:rkiran@thapar.edu">rkiran@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Vikas_Sharma.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Vikas Sharma,<br>
                    Assistant Professor,<br>
                    SOM,<br>
                    <a href="mailto:vikas.sharma@thapar.edu">vikas.sharma@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Frosh.jpg" style="width: 100px; height: 60px;"><br>
                    Frosh Week</td>
                    <td>Frosh Week Society welcomes the first year students in TIET. This society basically involves with all the activities of first year students just after they join institute. Arranging Infodesk, supporting in person counselling, organising orientation program and Frosh week for first year students are the major activities.<br>
                    <br>
                    <b>Email: </b><a href="mailto:froshweek@thapar.edu">froshweek@thapar.edu</a><br>
                    <a href="https://froshtiet.com/" target="_blank">Frosh Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dr._M.D._Singh.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. M.D. Singh,<br>
                    Assistant Professor,<br>
                    EIED,<br>
                    <a href="mailto:mdsingh@thapar.edu">mdsingh@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dr._Hem_Dutt_Joshi,.png" style="width: 82px; height: 100px;"><br>
                    Dr. Hem Dutt Joshi,<br>
                    Associate Professor,<br>
                    ECED,<br>
                    <a href="mailto:hemdutt.joshi@thapar.edu">hemdutt.joshi@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/GENE.jpg" style="width: 60px; height: 60px;"><br>
                    GENE</td>
                    <td>
                    <p>GENE Society aims at providing professional excellence to students in organizing technical events like seminars, workshops, guest lectures, panel discussions. The society promotes industry-academia interactions and empowers students to work collectively in a team as well as to work independently honing their leadership skills.<br>
                    <br>
                    <b>Email: </b><a href="mailto:gene@thapar.edu">gene@thapar.edu</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dr._M._Vasundhara.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. M. Vasundhara,<br>
                    Assistant Professor,<br>
                    BTD,<br>
                    <a href="mailto:mvasundhara@thapar.edu">mvasundhara@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1576768425523.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Atul Upadhyay,<br>
                    Assistant Professor,<br>
                    BTD,<br>
                    <a href="mailto:atul.upadhyay@thapar.edu">atul.upadhyay@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/GIRLUPTIET.png" style="width: 80px; height: 70px;"><br>
                    GirlUpTIET Society</td>
                    <td>Girl Up is a United Nations Foundation’s adolescent girl campaign. This society envisions a world where every girl can reach her full potential and lead the way to bigger dreams, healthier communities and stronger nations. The Girl Up platform exposes girls to issues at the intersection of gender equality, sports and storytelling. This society organizes events that instil social empowerment amongst girls through higher self-confidence, compassion, empathy, social collaboration and civic participation.<br>
                    <br>
                    <b>Email: </b><a href="mailto:girlup@thapar.edu">girlup@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/girlup/">GirlUp Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/150789463517.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Gurvinder Kaur,<br>
                    Associate Professor,<br>
                    SHSS,<br>
                    <a href="mailto:gurvinder@thapar.edu">gurvinder@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/anupam.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Anupam Sharma,<br>
                    Assistant Professor,<br>
                    SHSS,<br>
                    <a href="mailto:anupam@thapar.edu">anupam@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/LEAD.png" style="width: 60px; height: 60px;"><br>
                    LEAD SOCIETY</td>
                    <td>
                    <p>LEAD society provides platform to students of all disciplines to organize industrial visits, lectures and workshops. It is a one stop society for institute-industry collaboration for students.<br>
                    <br>
                    <b>Email: </b><a href="mailto:lead_sc@thapar.edu">lead_sc@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/lead-tiet" target="_blank">Lead Website</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/jainy.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Jainy Sachdeva,<br>
                    Assistant Professor,<br>
                    EIED,<br>
                    <a href="mailto:jainysachdeva@gmail.com">jainysachdeva@gmail.com</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1583991677314.jpg" style="width: 82px; height: 100px;"><br>
                    Mr. Jitender Kaushal,<br>
                    Assistant Professor,<br>
                    EIED,<br>
                    <a href="mailto:jitender.kaushal@thapar.edu">jitender.kaushal@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/LUG.png" style="width: 100px; height: 50px;"><br>
                    Linux User Group - TIET</td>
                    <td>This society enables students to connect science and technology to real-world problems by explaining how science relates to problems of societal concern; be able to distinguish between sound and unsound interpretations of scientific information; employ cogent reasoning methods in their own examinations of problems and issues; and understand the applications of science and technology in societal context.<br>
                    <br>
                    <b>Email: </b> <a href="mailto:lugtu@thapar.edu">lugtu@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1533900262396.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Smita Agrawal,<br>
                    Lecturer,<br>
                    CSED,<br>
                    <a href="mailto:smita.agrawal@thapar.edu">smita.agrawal@thapar.edu</a></td>
                    <td><br>
                    &nbsp;<br>
                    &nbsp;<br>
                    &nbsp;<br>
                    &nbsp;<br>
                    &nbsp;Mr. Varinderpal Singh,<br>
                    System Analyst,<br>
                    CSED,<br>
                    <a href="mailto:varinderpal@thapar.edu">varinderpal@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/LitSoc.png" style="width: 60px; height: 60px;"><br>
                    Literary Society</td>
                    <td>The primary objective of Literary Society is to inculcate among students a keen sense of language and appreciation for myriad literary expressions, forms and genres.<br>
                    <br>
                    <b>Email: </b><a href="mailto:litsoc@thapar.edu">litsoc@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/litsoc" target="_blank">Literary Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Apurva_Bakshi.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Apurva Bakshi,<br>
                    Associate Professor,<br>
                    SHSS,<br>
                    <a href="mailto:abakshi@thapar.edu">abakshi@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/sandeep.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Sandeep Sharma,<br>
                    Assistant Professor,<br>
                    MED,<br>
                    <a href="mailto:sksharma@thapar.edu">sksharma@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/MAPS.jpg" style="width: 60px; height: 60px;"><br>
                    Materials and Physics Society (MAPS)</td>
                    <td>To generate an interactive environment that encourages conditions for learning and stimulates personal and professional growth, providing exposure to new ideas and creativity. Major activities organized: Expert lectures on physical science, quizzes, paper presentations, organization of seminars etc.<br>
                    <br>
                    <b>Email: </b><a href="mailto:maps@thapar.edu">maps@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/surendra.png" style="width: 82px; height: 100px;"><br>
                    Dr. Surendra Deo Tiwari,<br>
                    Associate Professor,<br>
                    SPMS,<br>
                    <a href="mailto:sdtiwari@thapar.edu">sdtiwari@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/150096444058.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Sunil Devi,<br>
                    Assistant Professor,<br>
                    SPMS,<br>
                    <a href="mailto:sunil.devi@thapar.edu">sunil.devi@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Mechatronics &amp; Robotics1.png" style="width: 120px; height: 80px;"><br>
                    Mechatronics and Robotics Society</td>
                    <td>Mechatronics and Robotics Society (MARS) provides an ideal platform for students of Mechanical, Mechatronics, Electronics, Computers and Electrical Engineering background to hone their skills and showcase their talent in many interdisciplinary activities. MARS conducts different workshops (on Lego Kits, ROS, Arduino Uno, Raspberry Pi kits), competitions, technical quizzes and expert lectures on a regular basis.<br>
                    <br>
                    <b>Email: </b><a href="mailto:robotics@thapar.edu">robotics@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/ashish.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Ashish Singla,<br>
                    Associate Professor,<br>
                    MED,<br>
                    <a href="mailto:ashish.singla@thapar.edu">ashish.singla@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1501051872133.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Ankush Kansal,<br>
                    Associate Professor,<br>
                    EIED,<br>
                    <a href="mailto:akansal@thapar.edu">akansal@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/MUDRA.png" style="width: 80px; height: 80px;"><br>
                    Music and Dramatic Society (MUDRA)</td>
                    <td>The objective of this society is to hone the extra-curricular skills of students in the area of Music, Dramatics and developing managerial prowess contributing towards their overall personality. It organizes several big events such as MUDRA night and, Izhaar etc.<br>
                    <br>
                    <b>Email: </b><a href="mailto:mudra@thapar.edu">mudra@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dp(1).jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. D.P. Singh,<br>
                    Associate Professor,<br>
                    SPMS,<br>
                    <a href="mailto:dpsingh@thapar.edu">dpsingh@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/150096272650.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. B.C. Mohanty,<br>
                    Associate Professor,<br>
                    CSED,<br>
                    <a href="mailto:bhaskar@thapar.edu">bhaskar@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/PWS.png" style="width: 60px; height: 80px;"><br>
                    Paryavaran Welfare Society (PWS)</td>
                    <td>
                    <p>In the ongoing era, our fragile earth needs acute attention for its prevalence, PWS endures to maintain the biodiversity, conservation of water, air and energy resources.<br>
                    <br>
                    <b>Email: </b><a href="mailto:pws@thapar.edu">pws@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/pwsthapar">PWS Website</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/156074936567.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Amit Dhir,<br>
                    Associate Professor,<br>
                    SEE,<br>
                    <a href="mailto:amit.dhir@thapar.edu">amit.dhir@thapar.edu</a></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Pratigya.png" style="width: 80px; height: 80px;"><br>
                    Pratigya Society</td>
                    <td>
                    <p>PRATIGYA, a society, is working, consistently for social welfare. This society develops teams of student volunteers from the undergraduate, post-graduate and Management programs, who teach the underprivileged kids from classes I to XII. These kids include children of class four employees of Thapar Institute as well as kids residing outside Thapar.<br>
                    <br>
                    <b>Email: </b><a href="mailto:pratigyasoc@thapar.edu">pratigyasoc@thapar.edu</a><br>
                    <a href="https://sites.google.com/view/pratigyasociety" target="_blank">Pratigya Website</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/anoop.png" style="width: 82px; height: 100px;"><br>
                    Dr. Anoop Verma,<br>
                    Associate Professor,<br>
                    SEE,<br>
                    <a href="mailto:anoop.kumar@thapar.edu">anoop.kumar@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/parteek.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Parteek Bhatia,<br>
                    Associate Professor,<br>
                    CSED,<br>
                    <a href="mailto:parteek.bhatia@thapar.edu">parteek.bhatia@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Spic Macay.png" style="width: 60px; height: 60px;"><br>
                    Society for Promotion of Indian Classical Music &amp; Culture Amongst Youth (SPIC MACAY)</td>
                    <td>SPIC MACAY is a non-political nationwide voluntary movement that organises programmes of classical music and dance, folk arts, crafts, yog, classic cinema screenings, heritage walks, etc. inside school and college campuses throughout the world to make students more aware about Indian and world heritage. This initiative makes education more holistic and meaningful as it highlights all that is abstract, subtle, inspiring and mystical in the world teaching one to look within oneself.<br>
                    <br>
                    <b>Email: </b><a href="mailto:spicmacay@thapar.edu">spicmacay@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/spicmacay-tiet-patiala/home">SPIC MACAY Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Dr._Rajesh_Khanna(1).jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Rajesh Khanna,<br>
                    Professor,<br>
                    ECED,<br>
                    <a href="mailto:rkhanna@thapar.edu">rkhanna@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/anilar.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Anil Arora,<br>
                    Assistant Professor,<br>
                    ECED,<br>
                    <a href="mailto:anil.arora@thapar.edu">anil.arora@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/SOMIE.png" style="width: 60px; height: 60px;"><br>
                    Society of Mechanical and Industrial Engineers (SOMIE)</td>
                    <td>
                    <p>SOMIE (Society of Mechanical and Industrial Engineering) is the society which helps students gain technical and practical knowledge in the field of mechanical engineering. SOMIE also acts as a bridge between students and faculty. SOMIE organizes various events like industrial tours, engine assembly workshops, technical quiz contests, guest lectures etc.<br>
                    <br>
                    <b>Email: </b><a href="mailto:somie@thapar.edu">somie@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/somie" target="_blank">SOMIE Website</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/rohit.png" style="width: 82px; height: 100px;"><br>
                    Dr. Rohit Kumar Singla, Assistant Professor,<br>
                    MED,<br>
                    <a href="mailto:rohit.kumar@thapar.edu">rohit.kumar@thapar.edu</a></td>
                    <td><br>
                    <br>
                    <br>
                    <br>
                    <br>
                    Mr. Lalit Kumar,<br>
                    MED</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/SSA.jpg" style="width: 80px; height: 80px;"><br>
                    Spiritual Scientists’ Alliance (SSA)</td>
                    <td>
                    <p>To impart knowledge and inculcate a way of life which strikes a perfect balance between spiritual peace and rational work ethics. It includes a fest named "Virsa the essence of Punjab". Virsa stands for a great culture, a historic way of life. It perfectly depicts how to strike a perfect balance between work, leisure and spirituality, which is important to lead a healthy, fulfilling life these days &amp; Gurpurab Celebrations.<br>
                    <br>
                    <b>Email: </b><a href="mailto:ssa@thapar.edu">ssa@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/virsa" target="_blank">SSA Website</a></p>
                    </td>
                    <td><img alt="" src="http://thapar.edu/upload/images/amanpreet.png" style="width: 82px; height: 100px;"><br>
                    Dr. Amanpreet Kaur,<br>
                    Assistant Professor,<br>
                    ECED,<br>
                    <a href="mailto:amanpreet.kaur@thapar.edu">amanpreet.kaur@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1505987397356.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Gurpal Singh,<br>
                    Assistant Professor,<br>
                    CSED,<br>
                    <a href="mailto:gurpal.singh@thapar.edu">gurpal.singh@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/TAAS.png" style="width: 60px; height: 60px;"><br>
                    Thapar Amateur Astronomers Society (TAAS)</td>
                    <td>TAAS explores the cosmos with science and engineering with the objective of cultivating scientific temperament, nourishing inquisitive young minds and encouraging innovation in those who do not get a chance in the daily load of the engineering course. This society creates a platform for students who are interested in applying their knowledge and skills in the field of Astronomy and opens up opportunities for students willing to work as professionals in the subject.<br>
                    <br>
                    <b>Email: </b><a href="mailto:taas.astronomers@thapar.edu">taas.astronomers@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/taas/home" target="_blank">TAAS Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/debab.png" style="width: 85px; height: 100px;"><br>
                    Dr. Debabrata Deb,<br>
                    Assistant Professor,<br>
                    SPMS,<br>
                    <a href="mailto:debabrata.deb@thapar.edu">debabrata.deb@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/mamta.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Mamta Gulati,<br>
                    Assistant Professor,<br>
                    SOM,<br>
                    <a href="mailto:mamta.gulati@thapar.edu">mamta.gulati@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/TMS.png" style="width: 60px; height: 60px;"><br>
                    Thapar Mathematical Society</td>
                    <td>Thapar Mathematical Society promote mathematics and its applications among the young people and in society by providing them a platform for interaction through expert talks, events, activities and workshops.<br>
                    <br>
                    <b>Email: </b><a href="mailto:mathematical_soc@thapar.edu">mathematical_soc@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/thapar-mathematical-society" target="_blank">TMS Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/meenak.png" style="width: 82px; height: 100px;"><br>
                    Dr. Meenakshi Rana,<br>
                    Associate Professor,<br>
                    SOM,<br>
                    <a href="mailto:mrana@thapar.edu">mrana@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/amitt.png" style="width: 82px; height: 100px;"><br>
                    Dr. Amit Kumar,<br>
                    Associate Professor,<br>
                    SOM,<br>
                    <a href="mailto:amitkumar@thapar.edu">amitkumar@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/TSCE.png" style="width: 60px; height: 60px;"><br>
                    Thapar Society of Civil Engineers (TSCE)</td>
                    <td>TSCE was formed with the main aim of providing a platform to all the budding civil engineers to update their skills in civil engineering design and field work. TSCE organizes workshops, guest lectures, design competitions, paper reading contests in the field of civil engineering.<br>
                    <br>
                    <b>Email: </b><a href="mailto:tsce@thapar.edu">tsce@thapar.edu</a><br>
                    <a href="https://sites.google.com/view/thapar-tsce" target="_blank">TSCE Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/tanuj(1).png" style="width: 82px; height: 100px;"><br>
                    Mr. Tanuj Chopra,<br>
                    Assistant Professor,<br>
                    CED,<br>
                    <a href="mailto:tanuj33@gmail.com">tanuj33@gmail.com</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/heaven.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Heaven Singh,<br>
                    Assistant Professor,<br>
                    CED,<br>
                    <a href="mailto:heaven.singh@thapar.edu">heaven.singh@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Eureka.png" style="width: 80px; height: 80px;"><br>
                    EUREKA Prize Problems</td>
                    <td>The objective behind developing this society was to promote research ambience amongst our UG students through organizing competitions, expert talks, seminars, webinars,some technical sessions and encouraging them to write research articles.<br>
                    <br>
                    <b>Email: </b><a href="mailto:eureka@thapar.edu">eureka@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1507874203321.png" style="width: 82px; height: 100px;"><br>
                    Dr. Souvik Ganguli,<br>
                    Assistant Professor,<br>
                    EIED,<br>
                    <a href="mailto:souvik.ganguli@thapar.edu">souvik.ganguli@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/eureka_vice.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Amit Kumar,<br>
                    Assistant Professor,<br>
                    EIED,<br>
                    <a href="mailto:amit.kumar2@thapar.edu">amit.kumar2@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/TUMUN.png" style="width: 60px; height: 60px;"><br>
                    Thapar Model United Nations (TUMUN)</td>
                    <td>This Society is for all those who want to master the art of negotiation. Thapar Institute of Engineering and Technology , Model United Nations brings you the best platform for debate and negotiations and to get a rich experience in these activities.<br>
                    <br>
                    <b>Email: </b><a href="mailto:tumun@thapar.edu">tumun@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/thapar-mun-society/home">TUMUN Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/gurv.jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Gurvinder Kaur,<br>
                    Associate Professor,<br>
                    SHSS,<br>
                    <a href="mailto:gurvinder@thapar.edu">gurvinder@thapar.edu</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/FeOwezHe_img22(4).jpeg" style="width: 82px; height: 100px;"><br>
                    Dr. Gagandeep Kaur,<br>
                    Associate Professor,<br>
                    EIED,<br>
                    <a href="mailto:gagandeep@thapar.edu">gagandeep@thapar.edu</a></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><img alt="" src="http://thapar.edu/upload/images/Backslash.png" style="width: 60px; height: 60px;"><br>
                    Backslash Computing Society - Dera Bassi Campus</td>
                    <td>Backslash Computing Society has been envisioned to promote and inculcate interest in the field of Computer Science for the students of Derabassi Campus. Backslash aims at providing an opportunity for technical enthusiasts to interact with each other and a platform to display and hone their skills in the wonderful world of computing.<br>
                    <br>
                    <b>Email: </b><a href="mailto:backslash_sc@thapar.edu">backslash_sc@thapar.edu</a><br>
                    <a href="https://sites.google.com/thapar.edu/bcs">BCS Website</a></td>
                    <td><img alt="" src="http://thapar.edu/upload/images/1505836118258.jpg" style="width: 82px; height: 100px;"><br>
                    Dr. Anil Verma,<br>
                    Professor,<br>
                    CSED,<br>
                    <a href="mailto:akverma@thapar.edu">akverma@thapar.edu</a></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>